/* body,
html {
    height: 100%;
    font-family: 'Arial';
    font-size: 14px;
}


.conainer {
    width: 1000px;
    margin: 100px auto;
} */

.data_more_less_inner {
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.action_less {
    display: none;
}

.less_active .action_less {
    display: inline-block;
}

.less_active .action_more {
    display: none;
}

.data_more_less:not(.less_active):not(.action_disabled) .data_more_less_inner:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',
            GradientType=0);
    height: 80px;
}

.data_more_less.action_disabled .more_less_action {
    display: none;
}

h1 {
    margin-bottom: 0px;
}

.btn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 18px;
    padding: 7px 15px;
}

.btn:hover {
    background: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
}




/* stat */



@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;300;700&display=swap');

ul {
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: #f7f8fc;
}

.section {
    min-height: 50vh;
    margin: 0 30px;
}

.container1 {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-family: 'Anek Bangla', sans-serif;
    font-weight: bold;
}

.card {
    /* background-color: rgb(255, 187, 30); */
    background-image: linear-gradient(to right bottom, rgb(0, 10, 114), #4c449d);
    padding: 3rem 3.5rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 8px;
    /* z-index: 0; */
}

.card::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 1px;
    width: 101%;
    height: 110%;
    background-image: linear-gradient(to right bottom, #4c449d, rgb(0, 10, 114));
    z-index: -1;
    border-radius: 15px;
    transform: rotate(-8deg);
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, .2);
    border: 3px solid black;
        border-radius: 8px;
}

.card li {
    width: 50%;
    margin: 15px 0;
}

.card li p {
    display: flex;
}

.card li h3 {
    display: inline-block;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    vertical-align: top;
    margin-right: 5px;
    line-height: 1.2;
}

.card li .fa {
    font-size: 18px;
}

.card li span {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}


.clr-up {
    color: green;
}

.clr-down {
    color: red;
}

@media screen and (max-width: 500px) {
    .card::before {
        top: -10px;
        left: -2px;
    }

    .card li {
        width: 100%;
    }

    .card li:not(:first-of-type) {
        margin-top: 15px;
    }
}




/* HOD Card */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

< !-- body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #ADE5F9;
    min-height: 100vh;
}

-->img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

/* Utilities */
.card1::after,
.card1 img {
    border-radius: 2%;
}

.card1,
.stats1 {
    display: flex;
}

.card1 {
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, rgb(0, 174, 255), #ffd786);
    max-width: 90%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    margin: 1rem;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
    justify-content: center;
}

.card1::before,
.card1::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.card1::before {
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    border-radius: 10px;
    top: -.7rem;
    left: -.7rem;
}

.card1::after {
    height: 15rem;
    width: 15rem;
    background-color: #4172f5aa;
    top: -8rem;
    right: -8rem;
    box-shadow: 2rem 6rem 0 -3rem #FFF
}

.card1 img {
    float: left;
    width: 150rem;
    min-width: 80px;
    box-shadow: 0 0 0 5px #FFF;
}

.infos {
    margin-left: 1.5rem;
}

.name {
    margin-bottom: 1rem;
}

.name h2 {
    font-size: 1.3rem;
}

.name h4 {
    font-size: .8rem;
    color: #333
}

.text {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.stats1 {
    margin-bottom: 1rem;
}

.stats1 li {
    min-width: 5rem;
}

.stats1 li h3 {
    font-size: .99rem;
}

.stats1 li h4 {
    font-size: .75rem;
}

.links1 button {
    font-family: 'Poppins', sans-serif;
    min-width: 120px;
    padding: .5rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
}

.links1 .follow,
.links1 .view:hover {
    background-color: #222;
    color: #FFF;
}

.links1 .view,
.links1 .follow:hover {
    background-color: transparent;
    color: #222;
}

@media screen and (max-width: 450px) {
    .card1 {
        display: block;
    }

    .infos {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .links1 button {
        min-width: 100px;
    }
}