#container {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	padding: 0;
}

.menu-btncont {
	position: relative;
	z-index: 99;
	top: -6px;
	width: 45px;
	float: left;
	padding-top: 0px;
	cursor: pointer;
}

.menu-btncont a {
	color: #fff;
}

.clear {
	clear: both;
}

.menu-btncont p {
	width: 250px;
	float: left;
	background: #07294d;
	color: #fff;
	position: absolute;
	left: -250px;
	top: 0px;
	padding: 4px 0px 4px 10px;
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 0px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.menu-btncont:hover p {
	left: 45px;
}

.topmenu {
	margin-top: -6px;
	border-top: 1px solid #2b61ad;
}

.menu-btn {
	z-index: 99;
	width: 45px;
	float: left;
	padding-top: 12em;
	cursor: pointer;
}

.menu-btn:hover img {
	opacity: 0.8;
}

.pushy {
	position: fixed;
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 109;
	/* background: url(../images/get-quote-bg.jpg) center center no-repeat; */
	background-size: cover;
	padding: 100px 40px 40px 40px;
	-webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .3);
	box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .3);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	line-height: normal;
}

.pushy:before {
	background: rgba(0, 0, 0, 0.5);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.pushy h2 {
	text-align: center;
	color: #ffc600;
}

.pushy-left {
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	-o-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

.pushy-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.container-push,
.push-push {
	-webkit-transform: translate3d(300px, 0, 0);
	-moz-transform: translate3d(300px, 0, 0);
	-ms-transform: translate3d(300px, 0, 0);
	-o-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.pushy,
#container,
.push {
	-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
	-moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
	-o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
	transition: transform .2s cubic-bezier(.16, .68, .43, .99);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

.site-overlay {
	display: none;
}

.pushy-active .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	z-index: 9999;
}

.pushy-left input {
	border: 1px solid #c1c1c1;
	background: #fff
}

.menu-btn-mba {
	display: none;
}

#form1 .fieldset placeholder {
	color: #000 !important
}

form {
	margin: 0;
	padding: 0
}

*:focus {
	outline: 0
}

.fieldset {
	width: 100%;
	height: auto;
	padding: 10px 15px;
	background-color: #cccfe1;
	display: block;
	border: 0;
	outline: 0;
	margin: 0 0 10px 0;
	color: #000 !important;
	font-size: 12px;
	float: left;
	border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px
}

.left-button {
	background: #ffc600;
	padding: 10px;
	color: #fff;
	border: 0
}

.left-button:hover {
	background: #0c4177;
}

@media screen and (max-width:640px) {
	.menu-btn {
		display: none;
	}

	#container {
		top: 200px;
	}

	#consultv {
		display: none;
	}

	.menu-btn-mba {
		background: #a81847 none repeat scroll 0 0;
		bottom: 0;
		color: #fff;
		cursor: pointer;
		display: block;
		float: left;
		left: 0;
		margin-bottom: 0;
		padding-top: 150px;
		position: fixed;
		text-align: left;
		transition: all 300ms ease-in-out 0s;
		width: 100%;
		z-index: 99;
	}
}